$main-font:Tahoma;
$main-margin: 0;
$main-padding: 0;
$s-font-size: 14px;
$l-font-size: 25px;
$main-color:#3ec1d5;
$green-c:#16a085;
$purple-c: #8e44ad;
$black-c:  #2c3e50;
$background-overlay: rgba(0,0,0,.6);